{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "BuzzerWolfContext": "Server=.\\SQLExpress;Database=buzzerwolf;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=True"
  },
  "BBAPIPublicUser": {
    "UserName": "",
    "AccessKey": ""
  },
  "NextjsStaticHosting": {
    // Must match where the Next.js app outputs are published, relative to the app's ContentRootPath.
    "RootPath": "../BuzzerWolf.WebFrontend/out"
  }
}
