@{
    ViewData["Title"] = "BuzzerWolf - the BuzzerBeater Assistant";
}

<div class="text-center">
    <h1 class="display-4">Under Development</h1>
    <p>Coming soon: BuzzerWolf - the BuzzerBeater Assistant</p>
</div>
